# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

MAX_FILE_SIZE=YOUR_MAX_FILE_SIZE
MAX_CONCURRENT_TASKS=YOUR_MAX_CONCURRENT_TASKS
CHUNK_SIZE=YOUR_CHUNK_SIZE
UPLOAD_DIR=YOUR_UPLOAD_DIR
REPORTS_DIR=YOUR_REPORTS_DIR
