# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
APP_NAME=APP_NAME
APP_VERSION=APP_VERSION
DEBUG=DEBUG

MAX_FILE_SIZE=YOUR_MAX_FILE_SIZE
MAX_CONCURRENT_TASKS=YOUR_MAX_CONCURRENT_TASKS
CHUNK_SIZE=YOUR_CHUNK_SIZE

UPLOAD_DIR=YOUR_UPLOAD_DIR
REPORTS_DIR=YOUR_REPORTS_DIR

LOG_LEVEL=YOUR_LOG_LEVEL
