# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
DOCKERHUB_USERNAME=YOUR_DOCKERHUB_USERNAME
DOCKERHUB_TOKEN=YOUR_DOCKERHUB_TOKEN
IMAGE_TAG=YOUR_IMAGE_TAG
ALLOWED_HOSTS=YOUR_ALLOWED_HOSTS

# Конфигурация базы данных
DATABASE_HOST=YOUR_DATABASE_HOST   # Хост для базы данных
DATABASE_USER=YOUR_DATABASE_USER     # Имя пользователя базы данных
DATABASE_PASSWORD=YOUR_DATABASE_PASSWORD # Пароль базы данных
DATABASE_NAME=YOUR_DATABASE_NAME    # Имя базы данных
DATABASE_PORT=YOUR_DATABASE_PORT #Номер порта базы данных

#Конфигурация для отправки писем
EMAIL_HOST_USER=YOUR_EMAIL_HOST_USER
EMAIL_HOST_PASSWORD=YOUR_EMAIL_HOST_PASSWORD
EMAIL_HOST=YOUR_EMAIL_HOST
EMAIL_PORT=YOUR_EMAIL_PORT
EMAIL_USE_TLS=YOUR_EMAIL_USE_TLS
EMAIL_USE_SSL=YOUR_EMAIL_USE_SSL
SITE_URL=YOUR_SITE_URL
CONTACT_EMAIL=YOUR_CONTACT_EMAIL

#Конфигурация для админки
ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD

#Секретный ключ Джанго и установки разработчика
SECRET_KEY=YOUR_SECRET_KEY
DEBUG=YOUR_DEBUG_STATUS

#Настройки для Redis
LOCATION=YOUR_REDIS_LOCATION
